.fa {
    padding: 10px;
    font-size: 20px;
    width: 4px;
    text-align: center;
    text-decoration: none;
  }
  
  .fa:hover {
    opacity: 0.7;
  }
  
  .fa-instagram {
    color: white;
    padding: 5px;
  }
  
  .fa-whatsapp {
    color: white;
    padding: 5px;
  }
  
  .fa-twitter {
    color: white;
    padding: 5px;
  }

  
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 15px 56px;
    text-decoration: none;
    font-size: 20px;
    margin-right: 5px;
    margin-left: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  .icon{
    display: none;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: white;
    color: black;
  }
  
  /* Style the search box inside the navigation bar */
  .topnav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
  }
  
  
  /* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
  @media screen and (max-width: 600px) {
    .topnav a, .topnav input[type=text] {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    .topnav input[type=text] {
      border: 1px solid #ccc;
    }
  }

  body{
    background-color: rgb(213, 146, 120);
    margin: 0;
    padding: 0;
  }
  
  .container {
     display: flex;
     align-items: center;
     justify-content: center;
     margin-top: 45px;
    }
  
  .search{
    margin-left: 80px;
    padding: 10px; 
    font-size: 14px; 
    border: 5px;
    border-radius: 5px;
    width: 200px;
    margin-top: -80px;
  }
  
  .img-responsive{
    width: 100%;
    display: block;
    margin: 50px;
    margin-top: -40px;
    max-width: 370px;
    margin-left: 200px;
  }

  
  .naira-symbol::before{
    content: "₦ CURRENCY";
  }
  
  
  .naira-and-account{
    display: flex;
    align-items: center;
    color: white;
    font-size: 12px;
    margin-left: 1000px;
    
  }
  
  .fa-user-circle-o{
    display: flex;
    margin-right: 40px;
  }
  
  .fa-shopping-bag{
    color: white;
    padding: 15px;
    margin-right: 40px;
  }
  
  .slideshow-container {
    width: 100%;
    max-width: 100%;
    height: 480px;
    position: relative;
    overflow: hidden;
    background-color: transparent;
  }
  
  .slide {
    display: none;
    width: 180vw;
    height: auto;
    position: absolute;
  }

  .prev, .next {
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    transition: transform 0.6s ease;
    border-radius: 0 3px 3px 0;
  }

  .prev {
    left: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .more{
    border: 2px solid white;
    padding-left: 25px;
    width: 204px;
    height: 550px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    margin:17px;
    }

    .more1{
    border: 2px solid white;
    padding-left: 25px;
    width: 204px;
    height: 550px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    margin: 17px;
    margin-top: 50px;
    
    }

  
  .small-img{
    
    width: 250px;
    height: 240px;
    border-radius: 4px;
    margin-top: 10px;
    margin-bottom: 15px;
    margin: 10px 0px 15px;
  }

  .img-word{
    position: absolute;
    color: black;
    font: 18px arial;
    margin: 10px 0px;
    margin-bottom: 240px;
    display: inline-block;
    white-space: nowrap;
    margin-right: 14px;

  }

  .paragraph{
    font: 16px arial;
    margin: 0px 0px 30px;
    padding: 0px 20px;
    margin-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
    display: inline-block;
  }

  .shop-now-button{
    position: absolute;
    border: 7px;
    background-color: rgb(213, 146, 120);
    color: white;
    padding: 7px;
    padding-bottom: 7px;
    padding-top: 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font: 16px arial;
    margin-right: 15px;
    border-radius: 3px;
    cursor: pointer;
    font-weight: lighter;
    text-transform: uppercase;
  }
    

  .seller{
    color: white;
    margin-top: 50px;
    margin-left: 450px;
    width: 50%;
  }

  .lower-container {
    position: relative;
    background-color: white;
    height: 100vh; /* Adjust the height of the lower container */
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    justify-content: center;
}

.inner{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font: 32px arial;
    font-weight: bold;
    margin-top: 50px;
}

.horizontal-line {
  border-bottom: 0.3px solid #000; /* Adjust color and thickness as needed */
  position: absolute;
  width: 200%;
  left: 0;
  bottom: 440px;
  transform: translateX(-50%);
}

.box{
  width: 250px;
  height: 300px;
  background-color: white;
  border-radius: 2px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s;
  cursor: pointer;
  margin-left: 50px;
  margin-top: 155px;
}
.box:hover{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3)
}

.box_img{
  width: 150px;
  margin-left: 50px;
  margin-top: 20px;
}

.box_text{
  margin-left: 55px;
  font-weight: lighter;
}

.box_text1{
  margin-left: 80px;
}

.lower-container2{
  height: 100vh;
  background: whitesmoke;
  display: flex;
  padding: 1px;
  overflow: auto;
  position: relative;
}

.inner2{
  margin-left: 150px;
  margin-top: 100px;
  font: 30px arial;
  font-weight: bold;
}

.inner-text{
  font-size: 15px;
  font-weight: lighter;
  margin-top: 50px;
  margin-left: 50px;
  margin-bottom: -5px;
}

.inner-text2{
  font-size: 15px;
  font-weight: lighter;
  margin-left: 40px;
}

.video-call{
  margin-top: 250px;
  border: 1px;
  padding: 8px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: rgb(213, 146, 120);
  position: absolute;
  margin-left: 270px;
  color: white;
  font: 14px arial;
  border-radius: 2px;
  cursor: pointer;
}

.inner-text3{
  font: 15px arial;
  position: absolute;
  top: 320px;
  left: 190px;
}

.inner-text4{
  font: 15px arial;
  position: absolute;
  top: 345px;
  left: 220px;
}

.inner-text5{
  font: 15px arial;
  position: absolute;
  top: 370px;
  left: 290px;
}

.send-selfie{
  position: absolute;
  margin-top: 420px;
  border: 1px;
  padding: 8px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: rgb(213, 146, 120);
  margin-left: 270px;
  color: white;
  font: 14px arial;
  border-radius: 2px;
  cursor: pointer;
}
.swatch{
  width: 320px;
  height: 450px;
  margin-top: 50px;
  margin-left: 250px;
}

.lower-container3{
  height: 100vh;
  background: seashell;
  display: flex;
  padding: 1px;
  overflow: auto;
  position: relative;
}

.inner3{
  font: 36.8px Arial;
  margin-left: 500px;
  font-weight: 700;
  text-shadow: 2px 1px 4px rgba(0, 0, 0, 0.1);
}

.vanguard{
  width: 280px;
  height: 50px;
  margin-top: 160px;
  position: absolute;
  margin-left: 90px
}

.nation{
  width: 280px;
  height: 60px;
  margin-top: 150px;
  position: absolute;
  margin-left: 480px
}

.the{
  width: 280px;
  height: 60px;
  margin-top: 150px;
  position: absolute;
  margin-left: 880px
}

.sun{
  width: 180px;
  height: 80px;
  margin-top: 350px;
  position: absolute;
  margin-left: 120px
}

.pm{
  width: 150px;
  height: 60px;
  margin-top: 350px;
  position: absolute;
  margin-left: 500px
}

.blueprint{
  width: 250px;
  height: 80px;
  margin-top: 350px;
  position: absolute;
  margin-left: 880px
}